## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [6]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("/Users/rinabaumgartner/Documents/Data_Analytics_Bootcamp/Week6_WeatherPy/World_Weather_Analysis/Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Padang,2022-08-10 04:15:37,-0.9492,100.3543,87.85,66,78,4.36,broken clouds
1,1,Bambous Virieux,2022-08-10 04:15:37,-20.3428,57.7575,70.21,73,75,16.11,broken clouds
2,2,Vaini,2022-08-10 04:15:37,-21.2000,-175.2000,78.96,94,40,9.22,scattered clouds
3,3,Tupiza,2022-08-10 04:15:38,-21.4500,-65.7167,38.28,19,0,2.98,clear sky
4,4,Busselton,2022-08-10 04:15:38,-33.6500,115.3333,57.34,72,98,12.53,overcast clouds

In [7]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [8]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Padang,2022-08-10 04:15:37,-0.9492,100.3543,87.85,66,78,4.36,broken clouds
2,2,Vaini,2022-08-10 04:15:37,-21.2000,-175.2000,78.96,94,40,9.22,scattered clouds
6,6,Bambanglipuro,2022-08-10 04:15:39,-7.9500,110.2833,81.30,76,87,13.42,overcast clouds
7,7,Karwar,2022-08-10 04:15:39,14.8000,74.1333,78.53,86,99,19.48,overcast clouds
8,8,Butaritari,2022-08-10 04:15:40,3.0707,172.7902,81.84,75,11,13.00,light rain
17,17,Tegal,2022-08-10 04:15:43,-6.8694,109.1402,87.46,56,71,1.07,broken clouds
26,26,Boa Vista,2022-08-10 04:15:47,2.8197,-60.6733,82.38,65,40,2.30,scattered clouds
31,31,Bethel,2022-08-10 04:15:48,41.3712,-73.4140,80.96,74,100,4.61,overcast clouds
36,36,Kahului,2022-08-10 04:15:50,20.8947,-156.4700,84.22,66,20,26.46,few clouds
39,39,Kudahuvadhoo,2022-08-10 04:15:51,2.6708,72.8944,81.46,75,88,4.18,overcast clouds

In [9]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                235
City                   235
Date                   235
Lat                    235
Lng                    235
Max Temp               235
Humidity               235
Cloudiness             235
Wind Speed             235
Current Description    235
dtype: int64

In [10]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [13]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City  Max Temp Current Description      Lat       Lng Hotel Name
0          Padang     87.85       broken clouds  -0.9492  100.3543
2           Vaini     78.96    scattered clouds -21.2000 -175.2000
6   Bambanglipuro     81.30     overcast clouds  -7.9500  110.2833
7          Karwar     78.53     overcast clouds  14.8000   74.1333
8      Butaritari     81.84          light rain   3.0707  172.7902
17          Tegal     87.46       broken clouds  -6.8694  109.1402
26      Boa Vista     82.38    scattered clouds   2.8197  -60.6733
31         Bethel     80.96     overcast clouds  41.3712  -73.4140
36        Kahului     84.22          few clouds  20.8947 -156.4700
39   Kudahuvadhoo     81.46     overcast clouds   2.6708   72.8944

In [17]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping")
hotel_df.head()

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

,City,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Padang,87.85,broken clouds,-0.9492,100.3543,Mercure Padang
2,Vaini,78.96,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
6,Bambanglipuro,81.30,overcast clouds,-7.9500,110.2833,Puri Brata
7,Karwar,78.53,overcast clouds,14.8000,74.1333,Netalco Connects
8,Butaritari,81.84,light rain,3.0707,172.7902,Isles Sunset Lodge

In [18]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.count()

City                   235
Max Temp               235
Current Description    235
Lat                    235
Lng                    235
Hotel Name             235
dtype: int64

In [22]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the Hotel_Data into a csv
hotel_df.to_csv(output_data_file)

In [23]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [24]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))